.mobileMenu {
  header{
    padding: 15px 20px;
    position: fixed;
    z-index: 200;
    width: 100%;
    background-color: $grey;
    .logo {
      @include logo
    }
  }
  
  .burgerMenu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 15px;
    right: 20px;
    height: 40px;
    width: 60px;
    z-index: 300;
    cursor: pointer;
    .line {
      position: relative;
      background: #000;
      width: 30px;
      height: 2px;
      transition: all 0.2s ease;
    }
    .line2 {
      margin-top: 6px;
    }
    .line3 {
      margin-top: 6px;
    }
  }
}

.desktopMenu {
  display: none;
}

/****************
* MEDIA QUIERIES*
****************/

@media screen and (min-width: 1024px) {
  .mobileMenu {
    display: none;
  }

  .desktopMenu {
    display: block;

    nav {
      padding: 10px 0;
      position: fixed;
      height: 75px;
      top: 0;
      left: 0;
      right: 0;
      z-index: 200;
      width: 100%;
      background-color: $grey;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: $mm-size;
        margin: 0 10px;
        a {
          text-decoration: none;
          color: $black;
        }
        .logo {
          @include logo;
          font-size: $xl-size;
        }
      }
    }
  }
}