.drawer {
  height: 100vh;
  width: 100vw;
  background-color: $blue;
  z-index: 250;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  ul {
    margin: 100px 0 0 50px ;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: $white;
        font-size: $l-size;
        font-weight: bold;
      }
      .active {
        color: $yellow;
      }
    }
  }
  .address {
    color: $white;
    margin: 20px auto 20px auto;
  }
  .logo {
    @include logo;
    margin: auto auto 0 auto;
    color: $white;
    border-color: $white;
  }
}

.open {
  transform: translateX(0);
}