.menuContainer {
  min-height: 100vh;
  background-color: $white;
  max-width: 1400px;
  margin: 0 auto;
  .menuHeaders {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: $yellow;
        font-size: $mm-size;
        font-weight: bold;
      }
      .active {
        color: $blue;
      }
    }
  }
  .menu {
    color: $black;
    width: 90%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    h2 {
      margin: 0 auto;
      color: $black;
      font-family: lato;
    }
    .menuInfo {
        
    }
    .menuList {
      h3 {
        font-family: lato;
        color: $black;
        margin: 30px 0 0;
      }
      .lineBreak {
        width: 100%;
        height: 4px;
        background-color: $yellow;
      }
      .menuItemsContainer {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        .menuItem {
          margin-top: 25px;
          .menuItem__name {
            font-weight: bold;
          }
          .menuItem__description {
            margin: 10px 0;
            color: #444242;
          }
          .menuItem__price {
            font-weight: bold;
            margin: auto 0 0 0;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .menuContainer {

    .menuHeaders {
      padding-top: 100px;
      justify-content: center;
      align-items: center;
      li {
        list-style-type: none;
        a {
          font-weight: bold;
          font-size: $xxl-size;
          transition: 0.2s;
        }
        a:hover {
          color: $blue;
        }
      }
    }
    .menu {
      width: 90%;
      margin: 0 auto 0;
      h2 {
        margin: unset;
      }
      .menuInfo {

      }
      .menuList {
        h3 {
          margin: 60px 0 0;
          font-size: $l-size;
          display: inline-block;
        }
        .menuListInfo {
          margin-left: 10px;
          font-size: $sm-size;
        }
        .lineBreak {
          height: 4px;
        }
        .menuItemsContainer {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          .menuItems {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .menuItem {
              margin-top: 20px;
              width: 25%;
              min-height: 180px;
              display: flex;
              flex-direction: column;
              .menuItem__name {
                letter-spacing: -0.05rem;
                margin: 0 5px 0 0;
              }
              .menuItem__description {
                margin: 5px 10px 20px 0;
                letter-spacing: -0.03rem;
              }
              .menuItem__price {
                margin: auto 0 0 0;
                display: flex;
                flex-direction: column;
              }
            }
            .menuItem--noDescription {
              min-height: 100px;
            }
          }
          .dottedLine {
            border-top: 2px dashed #999595;
            margin: 20px 0 0;
          }
        }
      }
    }
  }
}