/**********
* COLOURS *
**********/

$blue: #292B3B;
$yellow: #FFF4CF;
$grey: #F1F1F1;
$white: #FFF;
$black: #000;

/*************
* FONT SIZES *
*************/
$xs-size: 10px;
$s-size: 14px;
$sm-size: 16px;
$m-size: 18px;
$ms-size: 20px;
$mm-size: 24px;
$ml-size: 28px;
$l-size: 32px;
$xl-size: 36px;
$xxl-size: 40px;
$xxxl-size: 50px;